<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
 
  <bean id="organizationbean" class="com.training.org.Organization">  
<property name="orgName" value="DBS"></property>  
<property name="location" value="Hyderabad"></property> 
<property name="noEmp" value="2000"></property> 
</bean>
  
 <bean id="organizationbeanbyConstructor" class="com.training.org.Organization">  
<constructor-arg value="DBS" type="String"></constructor-arg>
<constructor-arg value="Singapore" type="String"></constructor-arg>
<constructor-arg value="5000" type="int"></constructor-arg>
</bean>

 
</beans> 
